<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6 style="text-transform: uppercase;">Certificate</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <div class="container-fluid" style="  background: #f2f4f7;">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0">
                <div class="chat_box text-center">
                  <!-- <a > -->
                    <!-- <div #screen style="width: 100%;"> -->
                      <img src={{main_image}} width="100%" alt="">
                    <!-- </div> -->
                    <a [href]="this.downimage" target="_blank" download>
                      <button class="download" title="click to download certificate">Download</button>
                    </a>
                  <!-- </a>  -->
                  <!-- <a nhref="" class="download_card" (click)="download()">
                    Downloads
                  </a> -->

                  <!-- <div id="download">
                    <img #canvas style="display: none;">
                    <a #downloadLink></a>
                  </div> -->
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <a [href]="main_image" download>hi

    </a> -->