.bg {
  // background-image: url(../../../../../assets/img/Stage/audi1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #2d2b21;
  animation: opac .5s;

  // position: relative;
}
section{
  position: relative;
  height: 100%;
  width: 100%;
  #clap{
    position: absolute;
    top: 19%; 
    right: 1%;
    z-index: 1000;
    img{
      width: 35px;
    }
  }
  #content{
    position: relative;
    #content_wrap{
      position: relative;
      #bg{
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        img{
          width: 100vw;
          height: 115vh;
        }
      }
      #player_sec{
        position: absolute;  
        background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
      }
    }
  }
}
@keyframes opac {
  from{
      opacity: 0;
  } to {
      opacity: 1;
  }
}

@media (max-width: 767px){
.bg{
  background-position: top center;
    background-size: contain;
}

}
@media (max-width: 767px){
  
  #player_sec{
    // height: 100vw !important;
    position: absolute;  
    top: 0%;
left: 0%;
    iframe{
      // width: 40.3vw;
      // height: 46.2vh;
      // width: 100vw;
height: 100vh !important;

    }
  }
  }
.rightMenu{
position: absolute;
right: 0;
top: 30%;
text-align: center;
padding: 20px 10px;
color: #fff;
background: rgba(0,0,0,.3);
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
a{

cursor: pointer;
}
.handimg{
width:48px;
height:48px;
display: block;
background-image: url(../../../../../assets/hand.png);
background-repeat:no-repeat;
}

@media (max-width: 767px){
  section{
    #clap{
        top: 18%;
        img{
            width: 35px;
        }
    }
  }
  .rightMenu{
    position: absolute;
    right: 0;
    top: 36%;
    text-align: center;
    padding: 5px;
    color: #fff;
    background: rgba(0,0,0,.3);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    ul{
        margin: 0;
        li{
            margin: 2px;
            a{
                img{
                    width: 20px;
                }
                div{
                    font-size: 10px;
                }
            }
        }
    }    
}
}



#popup{
  background: #000000c9;
  padding: 5px;
  .chat_section{
    background: #292F35;
    .popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}

.chat_box{
  .chat_message{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    height: 400px;
    width: 96%;
    overflow-y: auto;
    overflow-x: hidden;
    .chat_messageList{
      padding: 10px;
      .img_avatar{
        float: left;
        width: 46px;
        img{
          width: 28px;
        }
      }
      p{
        .person{
          display: block;
          color: #292f35;
          font-weight: bold;
          font-size: 14px;
          float: left;
          cursor: pointer;
          margin-right: 15px;
          text-transform: capitalize;
          line-height: 18px;
          .checkProfile{
            text-decoration: none;
            outline: none;
            color: #292f35;
          }
        }
        .time {
          float: right;
          color: dimgrey;
          line-height: 18px;
        }
      }
      .text_message{
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-left: 48px;
        clear: both;
        margin-bottom: 5px;
      }
    }
    .user-profile-row:nth-child(even){
      background: #e8e8e8;
    }
    .user-profile-row {
      width: 100%;
      display: flex;
      align-items: center;
     // background-color: #fff;
      margin: 0;
      padding: 8px;
      .user-profile-data {
          width: 85%;
          display: inline-block;
          .user-profile-image {
              width: 48px;
              float: left;
          }
          .user-profile-info {
              max-width: 70%;
              float: left;
          }
          .user-profile-name {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
              line-height: 15px;
              color: #000;
              text-transform: capitalize;
              a{
                  text-decoration: none;
                  outline: none;
                  color: var(--primary-color);

              }
          }
          .user-profile-company {
              font-size: 12px;
              font-weight: 400;
              line-height: 12px;
              color: #000;
              margin-bottom: 0px;
          }

      }
  }
  }
}
.message_input {
  padding: 10px;
  textarea {
    border: none;
    height: 102px;
    box-sizing: border-box;
    outline-width: 0;
    padding: 10px;
    font-size: 14px;
    width: 78% !important;
    border-radius: inherit;
    border-radius: 2px;
    background: #e8e8e8;
    border: 0px;
    padding: 10px 5px 6px 15px;
    // line-height: 11px;
    /* margin-left: 15px; */
    resize: none;
    border: 1px solid #e8e8e8;
    outline: none;
  }
  #chatBtn{
    width: 20%;
    font-size: 12px;
    background: #ebebeb;
    padding: 2px;
    box-shadow: none;
    height: 40px;
    border-radius: inherit;
    background: #292f35;
    border: navajowhite;
    margin-top: 0;
    svg{
      color: #fff;

    }
  }
}

.online_chat{
  min-height: 400px;
  overflow: auto;

}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292f35;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292f43;
}
#back{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0px;
  a{
      text-transform: capitalize;
      color: white;
  }
}