<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Networking_Lounge.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<span id="back">
  <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
    BACK</a>
</span>
<section>
  <div id="content">
    <div id="content_network">
      <div id="bg">
        <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Networking Lounge.jpg" alt="">
      </div>
      <div>
        <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="liveMsg">
          <div class="alert alert-success " role="alert">
            The session is Live now, please join us at the auditorium.
          </div>
        </div>
        <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="ChatMsg">
          <div class="alert alert-success " role="alert">
            {{senderName}} has sent you a New Message
          </div>
        </div>
        <!-- <div id="setplay">
              <vg-player>
                <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
          
                  <vg-play-pause></vg-play-pause>
                  <vg-time-display ></vg-time-display>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen ></vg-fullscreen>
                </vg-controls>
                <vg-buffering></vg-buffering>
                <video #myMedia [vgMedia]="myMedia"
                preload="auto"  autoplay="true"
                 vg-responsive="true"
                type="video/mp4" >
                <source src="assets/lilly/video/netwrking.mp4" type="video/mp4">
                </video>
            </vg-player>
            </div> -->
        <!-- <div class="letsChat" (click)="openChat()">
              <div class="pulsating-circle" ></div>
            </div> -->
        <!-- <div id="a1"  (click)="getAllAttendees()">
              <div class="one" ></div>
            </div> -->
        <!-- <div class="video" >
              <a class="pulsating-circle" href="https://www.cardiometabolicsummit.ekartbbd2020.com/" target="_blank"></a>
            </div> -->
        <!-- <div class="showVideoPopup" title="Play video" (click)="showVideoPopup()">
            
                <div class="pulsating-circle"  ></div>
              
            </div> -->
        <div class="rightMenu">


         <!--  <ul class="list-unstyled">
            <li>
              <a (click)=openChat()><img src="assets/chat-h.png" alt="">
                <div>One to One Chat</div>
              </a>
            </li>

          </ul> -->
        </div>
        <div class="photocontest1" (click)="openChat()">
          <div class="pulsating-circle"></div>
        </div>
        <div class="commmitmentWall1" routerLink="/stage">
          <div class="pulsating-circle"></div>
        </div>
        <div class="photobooth1" routerLink="/capturePhoto">
          <div class="pulsating-circle"></div>
        </div>
        <div class="photobooth" routerLink="/capturePhoto">
          <div class="pulsating-circle"></div>
        </div>
        <div class="commmitmentWall" routerLink="/stage">
          <div class="pulsating-circle"></div>
        </div>
        <div class="chatter" (click)="openChat()">
          <div class="pulsating-circle"></div>
        </div>
        <!-- <div class="photoContestent" data-toggle="modal" data-target="#largeModal">
          <div class="pulsating-circle"></div>
        </div> -->
        <div class="photoContestent" data-toggle="modal" data-target=".chatsModal">
          <div class="pulsating-circle"></div>
        </div>

        <!-- <div id="a2" data-toggle="modal" data-target=".groupchatOne">
              <div class="pulsating-circle"></div>
            </div> -->
        <!-- <div id="a3" (click)="chatGroupTwo()">
              <div class="three"></div>
            </div> -->
      </div>
    </div>
  </div>
</section>

<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal-video">
          <div id="closePopup" (click)="closeModalVideo()">&times;</div>
          <video id="video" preload="auto" src="assets/lilly/video/Lobby_Video.mp4" width="100%" controls>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="bg">
  <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="liveMsg">
    <div class="alert alert-success " role="alert">
      The session is currently live, please proceed towards the grand ballroom.
    </div>
  </div>
  <div style="position: absolute;  top: 23%;  left: 19%;">
    <vg-player  [ngStyle]="{'width': '20%'}">
      <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">

        <vg-play-pause></vg-play-pause>
        <vg-time-display ></vg-time-display>
        <vg-playback-button></vg-playback-button>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-fullscreen ></vg-fullscreen>
      </vg-controls>
      <vg-buffering></vg-buffering>
      <video #myMedia [vgMedia]="myMedia"
      preload="auto"  autoplay="true"
       vg-responsive="true"
      type="video/mp4" >
      <source src="assets/video/lifeboy.mp4" type="video/mp4">
      </video>
  </vg-player>
  </div>
</div> -->

<div class="modal fade chatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" >
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>One to One Chat</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">

                    <div class="row">
                      <div class="col-md-4 col-xl-4">
                        <div class="search_input">
                          <div class="search-container">
                            <input type="text" id="input" #inputKey (keyup)="searchElement(inputKey.value)"
                              placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                        <ul class="chat_profile">
                          <ng-container *ngFor="let chat of allChatList; let i = index">
                            <li *ngIf="sender_name !== chat.name" (click)="selectedChat(chat, i)"
                              [ngClass]="(allChatIndex === i)?'activeChat':'notActive'">
                              <div class="img_avatar"> <img src="../../../assets/download2.png" alt=""></div>
                              <div id="chatName">
                                {{chat.name}}
                              </div>
                            </li>
                          </ng-container>
                        </ul>
                      </div>
                      <div class="col-md-8 col-xl-8">
                        <div class="chat_box pt-2" id="chatss">
                          <ul class="chat_message" id="chat_messaged" *ngIf="chatMessage.length >=1">
                            <li class="chat_messageList" *ngFor="let msg of chatMessage">
                              <div class="img_avatar"> <img src="../../../assets/download2.png" alt=""></div>
                              <p>
                                <span class="person">
                                  <a href="javascript:void(0);" class="checkProfile">
                                    <span *ngIf="msg.sender_id === sender_id">{{msg.sender_name}}</span>
                                    <span *ngIf="msg.sender_id !== sender_id">{{msg.sender_name}}</span>
                                  </a>
                                </span>
                                <span class="time">{{msg.created | date: 'medium'}}</span>
                              </p>
                              <div class="text_message">{{msg.msg}}</div>
                            </li>
                          </ul>
                          <div class="chat_message" *ngIf="chatMessage.length === 0">
                            <div class="p-2">
                              <div id="startChat">
                                No Chat Available with {{receiver_name}}.
                                <!-- <p>Start Chat</p> -->
                              </div>
                            </div>
                          </div>
                          <!-- <ul class="chat_message">
                                  <li class="chat_messageList" *ngFor="let chat of commentsList">
                                    <div class="img_avatar"> <img src="../../../assets/download2.png" alt=""></div>
                                    <p>
                                      <span class="person">
                                        <a href="javascript:void(0);" class="checkProfile">{{chat.name}}</a>
                                      </span>
                                      <span class="time">{{chat.created | date: 'medium'}}</span>
                                    </p>
                                    <div class="text_message">{{chat.comment}}</div>
                                  </li>
                                </ul> -->
                        </div>

                        <div class="message_input">
                          <input name="message" minlength="1" autocomplete="off"
                            placeholder="Type a message and press enter" [formControl]="textMessage"
                            (keyup.enter)="postOneToOneChat(textMessage)" maxlength="200" type="text" id="query"
                            value="">
                          <button type="submit" class="btn borderBtn SubmitBut" id="chatBtn"
                            (click)="postOneToOneChat(textMessage)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                              <path fill="currentColor"
                                d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z">
                              </path>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-4 col-xl-4">
                      <div class="online_chat p-2">
                        <select (change)="getType($event.target.value)">
                          <option value="normal">Normal</option>
                          <option value="network">Network</option>
                        </select>
                      </div>
                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade groupchatTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="container-fluid" id="popup">
              <div class="row">
                  <div class="col-md-12 col-xl-12">
                      <div class="chat_section">
                          <div class="popup_header">
                              <h6>GROUP CHAT</h6>
                              <a class="close" (click)="closePopup()"></a>
                          </div>
                          <div class="container-fluid" style="  background: #f2f4f7;">
                              <h6 style="text-align: center;"></h6>
                              <div class="row pt-2">
                                  <div class="col-md-12 col-xl-12 pl-0">
                                      <div class="chat_box">
                                          <ul class="chat_message" #scroller [scrollTop]="scroller.scrollHeight">
                                              <li class="user-profile-row" *ngFor="let user of messageList" id="user_row_500">
                                                  <div class="user-profile-data">
                                                      <div class="user-profile-image"> 
                                                      </div>
                                                      <div *ngIf="user.user_name == datas" class="user-profile-info2" style="display: inherit;">
                                                          <p class="user-profile-name text-right" style="font-size: 12px;"><a href="javascript:void(0);">{{user.user_name}}<img style="margin-left:5px;" class="user-profile-img"
                                                              src="assets/download2.png" width="32"></a></p>
                                                          <p class="user-profile-company box3 sb14">{{user.chat_data}}</p>
                                                      </div>
                                                      <div *ngIf="user.user_name != datas" class="user-profile-info" style="display: inherit;">
                                                          <p class="user-profile-name" style="font-size: 12px;"><a href="javascript:void(0);"><img class="user-profile-img"
                                                              src="assets/download2.png" width="32" style="margin-right:5px;"> {{user.user_name}}</a></p>
                                                          <p class="user-profile-company box4 sb15">{{user.chat_data}}</p>
                                                          
                                                      </div>
                                                  </div>

                                              </li>
                                          </ul>
                                      </div>
                                      <div class="message_input d-flex">
                                          <textarea name="message" autocomplete="off" placeholder="Type your message..."
                                              [formControl]="textMessage" (keyup.enter)="postMessageTwo(textMessage.value)"
                                              maxlength="200" type="text" id="query" value=""></textarea>
                                              <img src="assets/reinvest/images/logo.png" width="200px" alt="">
                                      </div>
                                      <button type="submit" class="btn borderBtn SubmitBut" style="width: 100px;
                                      height: 35px;background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                                          (click)="postMessageTwo(textMessage.value)">Send</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>  -->

<div class="modal fade groupchatOne" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>Group Chat</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <h6 style="text-align: center;"></h6>
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message" #scroller [scrollTop]="scroller.scrollHeight">
                        <li class="user-profile-row" *ngFor="let user of messageList" id="user_row_500">
                          <div class="user-profile-data">
                            <div class="user-profile-image"> <img class="img-responsive user-profile-img"
                                src="assets/download2.png" width="32">
                            </div>
                            <div class="user-profile-info">
                              <p class="user-profile-name"><a href="javascript:void(0);">{{user.user_name}}</a>
                              </p>
                              <p class="user-profile-company">{{user.chat_data}}</p>
                            </div>
                          </div>

                        </li>
                      </ul>
                    </div>
                    <div class="message_input">
                      <textarea name="message" autocomplete="off" placeholder="Chat will be shown after moderation"
                        [formControl]="textMessage" type="submit" (keyup.enter)="postMessage(textMessage.value)" maxlength="200"
                        type="text" id="query" value=""></textarea>
                    </div>
                    <button type="submit" class="btn borderBtn SubmitBut"
                      style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                      (click)="postMessage(textMessage.value)">Send</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- carousel -->
        <div id='carouselExampleIndicators' class='carousel slide' data-ride='carousel'>
          <!-- <ol class='carousel-indicators'>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='0'
                class='active'
                ></li>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='1'
                ></li>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='2'
                ></li>
          </ol> -->
          <div class='carousel-inner'>
            <div class='carousel-item active'>
              <img class='img-size' src='assets/slider/1.jpg' alt='First slide' />
            </div>
            <!-- <div class='carousel-item' *ngFor="let img of images">
              <img class='img-size' src='{{img}}' alt='First slide' />
            </div> -->
            <!-- <div class='carousel-item'>
              <img class='img-size' src='assets/slider/2.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/3.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/4.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/5.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/6.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/7.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/8.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/9.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/10.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/11.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/12.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/13.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/14.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/15.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/16.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/17.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/slider/18.jpg' alt='Second slide' />
            </div> -->
          </div>
          <a class='carousel-control-prev' href='#carouselExampleIndicators' role='button' data-slide='prev'>
            <span class='carousel-control-prev-icon' aria-hidden='true'></span>
            <span class='sr-only'>Previous</span>
          </a>
          <a class='carousel-control-next' href='#carouselExampleIndicators' role='button' data-slide='next'>
            <span class='carousel-control-next-icon' aria-hidden='true'></span>
            <span class='sr-only'>Next</span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>