<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../../../assets/video/to_right_Auditorium.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<section>
    <!-- <div style="position: absolute;top: 10%; right: 1%;z-index: 1000;">
        <audio id="myAudioWhistle">
            <source src="assets/img/applause.wav" type="audio/wav">
            <source src="assets/img/whistle.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <a (click)="playAudioWhistle()" type="button">
            <img src="../../../../../assets/img/whistle.png" alt="">
            <span class="handimg"></span>
        </a>
    </div> -->
        <!-- <div id="clap">
            <audio id="myAudioClap">
                <source src="assets/img/applause.wav" type="audio/wav">
                <source src="assets/img/applause.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a (click)="playAudioClap()" type="button">
                <img src="../../../../../assets/img/hand.png" alt="">
                <span class="handimg"></span>
            </a>
        </div> -->
        <div id="content">
            <div id="content_wrap">
                <div id="bg">
                    <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/DAY 1 Star-Theme.jpg" alt="">
                </div>
                <div id="player_sec">
                    <vg-player>
                        <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                            <vg-play-pause></vg-play-pause>
                            <vg-time-display></vg-time-display>
                            <!-- <vg-playback-button></vg-playback-button> -->
                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>
                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>
                        <!-- <vg-buffering></vg-buffering> -->
                        <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videoPlayerTwo" autoplay="true"
                            vg-responsive="true" type="video/mp4">
    
                        </video>
                    </vg-player>
                </div>
            </div>
        </div>
    
</section>
<div class="rightMenu">
    <!-- <ul class="list-unstyled" >
                <li>

                </li>
            </ul> -->

    <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".ballroomQuestionModalTwo"><img src="assets/chat-h.png" alt="">
                <div>Ask Question</div>
            </a>
        </li>
    </ul>
    <!-- <ul class="list-unstyled">
            <li>
                <a data-toggle="modal" data-target=".quizModal"><img src="assets/icons/first-floor-h.png" alt="">
                    <div>Quiz</div>
                </a>
            </li>
        </ul> -->
        <ul class="list-unstyled">
          <li>
              <a (click)="openGroupChat()"><img src="assets/chat-h.png" alt="">
                  <div>Group Chat</div>
              </a>
          </li>
      </ul>
        <ul class="list-unstyled">
                <li>
                    <div id="clap">
                        <audio id="myAudioClap">
                            <source src="assets/applause.wav" type="audio/wav">
                            <source src="assets/applause.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        <a (click)="playAudioClap()" type="button">
                            <img src="../../../../../assets/hand.png" alt="">
                            <!-- <span class="handimg"></span> -->
                        </a>
                    </div>
                </li>
            </ul>
        <!-- <ul class="list-unstyled">
                <li> <a data-toggle="modal" data-target=".feebackModal"><img src="assets/icons/contact-h.png" alt="">
                        <div>Feedback</div>
                    </a>
                </li>
            </ul> -->

</div>
<!-- Quiz Modal -->
<div class="modal fade quizModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-kbc-quiz></app-kbc-quiz>
        </div>
    </div>
</div>