section{
    position: relative;
    width: 100%;
    height: 100%;
    .content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        #bg{
            img{
              width: 100%;
              height: 100vh;
              object-fit: fill;
            }
        }
    }
}

#pointer_1{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 50%;
    left: 19%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_2{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 50%;
    right: 48%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  #back{
    position: absolute;
    top: 10px;
    left: 50px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }

  .content {
    position: relative;
    display: flex;
    background: white;
    margin-top: 0.75rem;
}

.content .entry_img {
    width: 50%;
}

.content .entry_cnt {
    width: 50%;
    padding-left: 15px;
    height: 200px;
    padding-top: 10px;
    padding-right: 10px;
    position: relative;
}

.content .entry_img img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.content .entry_cnt .vote {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.content .entry_cnt .vote .btn {
    border-radius: 0;
    border: 1px solid #000;
    padding: 3px 15px;
    font-size: 14px;
    margin-left: 20px;
    letter-spacing: 1px;
}