<span id="skip" *ngIf="networkingLounge">
    <a class="nav-link sign" (click)="skipButton()" title="SKIP" role="button">
        SKIP</a>
</span>
<span id="skip" *ngIf="receptionEnd">
    <a class="nav-link sign" (click)="skipButton2()" title="SKIP" role="button">
        SKIP</a>
</span>
<span id="skip" *ngIf="exhibitionHall">
    <a class="nav-link sign" (click)="skipButton3()" title="SKIP" role="button">
        SKIP</a>
</span>
<span id="skip" *ngIf="auditoriumRight">
    <a class="nav-link sign" (click)="skipButton4()" title="SKIP" role="button">
        SKIP</a>
</span>
<span id="skip" *ngIf="auditoriumLeft">
    <a class="nav-link sign" (click)="skipButton5()" title="SKIP" role="button">
        SKIP</a>
</span>

<span id="skip" *ngIf="gameZone">
    <a class="nav-link sign" (click)="skipButton6()" title="SKIP" role="button">
        SKIP</a>
</span>
<span id="skip" *ngIf="resourceCentre">
    <a class="nav-link sign" (click)="skipButton7()" title="SKIP" role="button">
        SKIP</a>
</span>
<!-- briefcase end -->
<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="content loby-content">
            <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">
                <!-- <div class="bg"></div> -->
                <div class="loby-bg">
<!--                     <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Lobby.jpg" width="100%" alt="audi"> 
 -->               
        <video src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Lobby-01a.mp4" width="100%" loop autoplay></video>  
                </div>
                <!-- <div class="reception" title="">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div>
                <div class="key_portfolio" data-toggle="modal" data-target=".pic2">
                    <div class="pulsating-circle" id="frontaudi_pulse"></div>
                </div>
                <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                    <div class="alert alert-success " role="alert">
                        The session is Live now, please join us at the auditorium.
                    </div>
                </div> -->
                <div id="content">
                    <div id="content_wrap">
                        <div id="bg">
                            <img src="../../../../../assets/img/Stage/audi1.png" alt="">
                        </div>
                        <div id="player_sec">
                            <!-- <vg-player>
                                <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                                    <vg-play-pause></vg-play-pause>
                                    <vg-time-display></vg-time-display> 
                                     <vg-playback-button></vg-playback-button> 
                                   <vg-mute></vg-mute>
                                    <vg-volume></vg-volume>
                                    <vg-fullscreen></vg-fullscreen>
                                </vg-controls>
                                <vg-buffering></vg-buffering>
                                <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videoPlayer" loop="true"
                                    autoplay="true" vg-responsive="true" type="video/mp4">

                                </video>
                            </vg-player> -->
                        </div> 
                    </div>
                </div>
                <div class="playScreen">
                    <div>
                  <video id="videolob" preload="auto" autoplay src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/lobby-animation.mp4"
                           (ended)="endPlayscreen()" controls>
                        </video> 
                        <!-- <video id="video" preload="auto" autoplay src="assets/lilly/video/Lobby_Video.mp4"
                           loop controls>
                        </video> -->
                    </div>
                    <!-- <div *ngIf="showPoster">
                        <img src="../../../assets/serdia_myanmar/images/playScreen.jpg" (click)="playScreenOnImg()" alt="">
                    </div> -->
                    <!-- <img src="../../../assets/serdia_myanmar/images/playScreen.jpg" (click)="openModalVideo()" alt=""> -->
                </div>
                <!-- <div class="playmodalvideo">
                    <div id="light">
                        <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
                        <video id="VisaChipCardVideo" src="../../../assets/mov_bbb.mp4" width="600" controls>
                        </video>
                    </div>
                    <div id="fade" (click)="lightbox_close();"></div>
                    <div class="video" title="Play Video" (click)="lightbox_open();">
                    </div>
                </div> -->
                <div class="networking-lounge" title="networking lounge" (click)="stepUpAnalytics('click_lounge');AnimationPlay(1)" > 
                    <div class="pulsating-circle" id="networking_pulse"></div>
                </div>
                <div class="auditorium-left" title="Auditorium"
                    (click)="stepUpAnalytics('auditorium_205059');AnimationPlay(2);" >
                    <div class="pulsating-circle" id="audLeft_pulse"></div>
                
                </div>
                <div class="key_portfolio" title="key portfolio"
                    (click)="stepUpAnalytics('click_keyportfolio'); AnimationPlay(3)">
                    <div class="pulsating-circle" id="keyportfolio_pulse"></div>
                </div>
                <!-- <div class="auditorium-front" (click)="playGrowBySharingVideo();stepUpAnalytics('click_galaevening')">
                    <div class="pulsating-circle" id="gala"></div>
                </div> -->
                <!-- playReception() -->
                <div class="auditorium-right"  title="Photo Booth"
                    (click)="stepUpAnalytics('click_photocontestant'); AnimationPlay(4)"> 
                    <div class="pulsating-circle" id="audRight_pulse"></div>
                </div>
                <div class="registraion-desk" title="Help Desk"
                    (click)="stepUpAnalytics('click_helpdesk'); AnimationPlay(7)">
                    <div class="pulsating-circle" id="regDeskvideo"></div>
                </div>
                <div class="registraion-desk1" title="Help Desk" data-toggle="modal" data-target=".feebackModal"
                (click)="stepUpAnalytics('click_helpdesk')">
                <div class="pulsating-circle" id="regDeskvideo"></div>
            </div>

            

                
                <!-- <div class="game-zone"
                    (click)="playGamezone();stepUpAnalytics('click_gamezone');postPoints(2,'Game Zone')">
                    <div class="pulsating-circle" id="gamezone_pulse"></div>
                </div> -->
                <div class="resource-centre"
                    (click)="stepUpAnalytics('click_redcarpet');" data-toggle="modal" data-target=".pic5" title="Red Carpet">
                    <!-- AnimationPlay(5); -->
                    <div class="pulsating-circle" id="resourcecentre_pulse"></div>
                </div>
                <div class="exhibition-hall">
                    <a >
                        <div class="pulsating-circle" id="exhibition_pulse"
                            (click)="stepUpAnalytics('click_exhibition'); AnimationPlay(6)"></div>
                    </a>
                </div>
                <!-- <div class="agenda" data-toggle="modal" data-target=".pic3">
                    <div class="pulsating-circle" id="agenda_pulse">

                    </div>
                </div>
                <div class="heighlights" data-toggle="modal" data-target=".pic4">
                    <div class="pulsating-circle" id="heighlight_pulse">

                    </div>
                </div>
                <div class="five" data-toggle="modal" data-target=".pic5">
                    <div class="pulsating-circle" id="five">

                    </div>
                </div>
                <div class="six" data-toggle="modal" data-target=".pic6">
                    <div class="pulsating-circle" id="six">

                    </div>
                </div>
                <div class="seven" data-toggle="modal" data-target=".pic7">
                    <div class="pulsating-circle" id="seven">

                    </div>
                </div>
                <div class="eight" data-toggle="modal" data-target=".pic8">
                    <div class="pulsating-circle" id="eight">

                    </div>
                </div> -->
            </div>
            <div [ngStyle]="{'display':showVideo ? 'block': 'none'}" class="videoContainer">
                <video playsinline id="animateVideo" class="videoBg" (ended)="onEndAnimation()">
                    <source src="https://d3ep09c8x21fmh.cloudfront.net/Lilly_Tunnel.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>

<div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="recepVideo" class="videoBg" (ended)="receptionEndVideo()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/Lilly_Tunnel.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="audLeftvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumLeftOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/thales/lounge.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumRight ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="audRightvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumRightOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Photocontest.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':exhibitionHall ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="exhibitvideo" preload="auto" class="videoBg" (ended)="gotoExhibitionHallOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/thales/audi.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':registrationDesk ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="regDeskvideo" preload="auto" class="videoBg" (ended)="onEndKeyPortfolio()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/Lilly_Tunnel.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="netLoungevideo" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/thales/exhibition.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':gameZone ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="gameZonevideo" preload="auto" class="videoBg" (ended)="gotogameZoneOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/thales/gamezone.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':resourceCentre ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="resourceCentrevideo" preload="auto" class="videoBg" (ended)="gotoCentreOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/Lilly_Tunnel.mp4" type="video/mp4">
    </video>
</div>
<!-- <div id="light">
    <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
    <video id="VisaChipCardVideo"[src]="videoUrl" autoplay width="600" controls>
       
      </video>
  </div>
  <div id="fade" (click)="lightbox_close();"></div> -->

<div class="modal fade yvideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>

<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closeModalVideo" (click)="closeModalVideo()">&times;</div>
                    <video id="video" preload="auto" src="../../../assets/mov_bbb.mp4" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade NoFeedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Virtual NSC Feedback Form</h6>
                                <a class="close" (click)="closePopuptwo()"></a>
                            </div>
                            <div class="container-fluid" style=" background: #f2f4f7;">
                                <h4 class="text-center p-5">Your Feedback Successfully Submitted</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 4 PDF -->

<div class="modal fade" id="playVideos" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true"
    style="z-index: 9999;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div> -->
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closeModalVideos()">&times;</div>
                    <video id="videop" preload="auto" src="../../../assets/mov_bbb.mp4" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade pic1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>THALES</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <!-- <img src="assets/Standee-03.jpg" width="100%" height="540" alt=""> -->
                                        <embed src="assets/pdf/ThalesPoster-Land.pdf" frameborder="0" width="100%"
                                            height="540">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade pic2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>THALES</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <!-- <img src="assets/Standee-02.jpg" width="100%" height="540" alt=""> -->
                                        <embed src="assets/pdf/ThalesPoster-Defence.pdf" frameborder="0" width="100%"
                                            height="540">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade pic3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>THALES</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <!-- <img src="assets/Standee-04.jpg" width="100%" height="540" alt=""> -->
                                        <embed src="assets/pdf/ThalesPoster.pdf" frameborder="0" width="100%"
                                            height="540">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade pic4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>THALES</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <!-- <img src="assets/Standee-01.jpg" width="100%" height="540" alt=""> -->
                                        <embed src="assets/pdf/ThalesPoster-Space.pdf" frameborder="0" width="100%"
                                            height="540">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade pic5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>SERVIER</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                              <div class="col-12">
                                  <h2 style="background-color: white; padding: 10%;">Please visit auditorium for closing plenary</h2>
                              </div>
                                        </div>
                                        <!-- <img src="assets/Standee-01.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/pdf/ThalesPoster-Aerospace.pdf" frameborder="0" width="100%"
                                            height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade pic6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>THALES</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <img src="assets/banner.jpg" width="100%" height="540" alt="">
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade pic7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>THALES</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <img src="assets/banner.jpg" width="100%" height="540" alt="">
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade pic8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>THALES</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <!-- <img src="assets/Standee-01.jpg" width="100%" height="540" alt=""> -->
                                        <embed src="assets/pdf/ThalesPoster-DefenceandSecurity.pdf" frameborder="0"
                                            width="100%" height="540">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade note1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6>BEFORE 1PM</h6> -->
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #ffffff;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <h3 class="p-5"><b>SESSION WILL START AT 0900 HRS</b></h3>

                                        <!-- <img src="assets/Standee-03.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade note2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6>AFTER 6PM</h6> -->
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #ffffff;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <h3 class="p-5"><b>SESSION IS OVER</b></h3>

                                        <!-- <img src="assets/Standee-03.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade note3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6>BEFORE 6PM</h6> -->
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #ffffff;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <h3 class="p-5"><b>SESSION WILL START AT 1900 HRS</b></h3>
                                        <!-- <img src="assets/Standee-03.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade feebackModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                  <div class="col-md-12 col-xl-12">
                    <div class="chat_section">
                      <div class="popup_header text-left">
                        <h3>Event Feedback</h3>
                        <a class="close" (click)="closePopup1()"></a>
                      </div>
              
                      <iframe src="https://forms.office.com/Pages/ResponsePage.aspx?id=9k8KzFSUS06IG4X0SN7i4wjBg_97ttpMkFODATxNxaZUQUNEWjNPOFNHU1g4MlgwRFdXVzgxUUZMMS4u" frameborder="0" width="100%" height="550"></iframe>
                      <!-- <div class="container-fluid" style=" background: #f2f4f7;">
                       <form [formGroup]="ratingForm" *ngIf="!show">
                        <div class="form-row">
                            <div class="form-group col-sm-8 mt-2">
                               <h6 class="mb-0">Rate your exprience</h6>
                            </div>
                            <div class="form-group col-sm-4 mt-2 text-center">
                                <h6 class="mb-0">5 being the highest</h6>
                            </div>
                        </div>
                        <div class="form-row pt-3" *ngFor="let feed of feedbackList, let i = index">
                          <div class="form-group col-sm-12">
                            {{feed.title}}<span style="color: crimson;font-size: large;"> *</span>
                          </div>
                          <div class="form-group col-sm-12">
                              <textarea type="text"  class="form-control" placeholder="Enter Your Answer" id="agenda" formControlName="agenda" ></textarea>
                          </div>
                      </div>
              
                      <div class="form-row" *ngFor="let rating of ratingList, let i = index">
                        <div class="form-group col-sm-12">
                           {{rating.title}}<span style="color: crimson;font-size: large;"> *</span>
                        </div>
                        <div class="form-group col-sm-12 text-left">
                          <div class="form-check-inline rate" *ngFor="let radio of [1, 2, 3, 4, 5]">
                            <input class="form-check-input" type="radio" name="gridRadios + {{rating.title}}" id="gridRadio + {{radio}}" value="{{radio}}" (change)="radioValue($event.target.value, rating.id)" >
                            <label class="form-check-label" for="gridRadios+{{radio}}" >
                             {{radio}}
                            </label>
                          </div>
                          
                        </div>
                    </div>
                       
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-sm-6 mt-2">
                               <h6 class="mb-0">Any recommendation on...</h6>
                            </div>
                            <div class="form-group col-sm-6 mt-2">
                                <h6 class="mb-0">Remarks</h6>
                            </div>
                        </div>
                        
                        <div class="form-row">
                          <div class="form-group col-sm-6 offset-sm-3">
                              <button type="submit" class="btn btn-danger btn-block" (click)="submitFeedback()">Submit</button>
                          </div>
                      </div>
                        <div class="form-row" >
                          <div class="form-group col-sm-6">
                            Registration Process
                          </div>
                          <div class="form-group col-sm-6">
                              <input type="text"  class="form-control" placeholder="Write here" id="registration" formControlName="password" >
                          </div>
                      </div>
                      <div class="form-row" >
                        <div class="form-group col-sm-6">
                          Event Promotion
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text"  class="form-control" placeholder="Write here"id="event" formControlName="password" >
                        </div>
                      </div>
                        
                       </form>
                       <div *ngIf="show"> 
                        <h3 class="text-center p-5">Your Feedback Successfully Submitted</h3>
                       </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              
                <!-- <div class="container-fluid" id="popup">
                  <div class="row" >
                    <div class="col-md-12 col-xl-12">
                      <div class="chat_section">
                        <div class="popup_header">
                          <h6>conference Feedback</h6>
                          <a class="close" (click)="closePopup()"></a>
                        </div>
                        <div class="container-fluid" style="background: #c5c5c5; height: 300px !important;">
                          <div class="row" >
                            <div class="col-md-12 col-xl-12 pl-0 pr-0 pb-0">
                              <embed src="../../../assets/img/feedback.jpeg" frameborder="0"
                              width="100%">
                
                
                            </div>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div> -->
                
        </div>
    </div>
</div>