<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<span id="back">
    <a class="nav-link sign" routerLink="/lobby" title="lobby" role="button">
        BACK</a>
  </span>
<!-- <div class="bg"></div> -->
<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
                <img src="assets/final/Exhibition/Exhibition/Hall.jpg" alt="">
            </div>
            <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                    The session is Live now, please join us at the auditorium.
                </div>
              </div>
            <div>
                <div class="dareToInnovative" title="Dare" (click)="gotoCommitToSucceed('692')">
                    <div class="pulsating-circle"></div>
                </div>
               <div class="commitToSucceed" title="commit" (click)="gotoCommitToSucceed('691')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="growBySharing" title="share" (click)="gotoCommitToSucceed('693')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="care" title="Care" (click)="gotoCommitToSucceed('690')">
                    <div class="pulsating-circle"></div>
                </div> 
                <!-- <div class="lilly_4" (click)="gotoCommitToSucceed('636');stepUpAnalytics('click_Quality');postPoints(8,'Quality')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_5" (click)="gotoCommitToSucceed('637');stepUpAnalytics('click_Finance');postPoints(8,'Finance')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_6" (click)="gotoCommitToSucceed('641');stepUpAnalytics('click_Payroll');postPoints(8,'Payroll & PF')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_7" (click)="gotoCommitToSucceed('638');stepUpAnalytics('click_Insurance');postPoints(8,'Insurance')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_8" (click)="gotoCommitToSucceed('639');stepUpAnalytics('click_IT');postPoints(8,'IT')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_9" (click)="gotoCommitToSucceed('640');stepUpAnalytics('click_HR');postPoints(8,'HR Systems')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <!-- <div class="lilly_10" (click)="gotoCommitToSucceed('337');stepUpAnalytics('click_sales')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_11" (click)="gotoCommitToSucceed('338');stepUpAnalytics('click_technicalservices')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_12" (click)="gotoCommitToSucceed('331');stepUpAnalytics('click_humanresources')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="lilly_13" (click)="gotoCommitToSucceed('336');stepUpAnalytics('click_providerbusiness')">
                    <div class="pulsating-circle"></div>
                </div> -->
            </div>
        </div>
    </div>
</section>