<span id="back">
  <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
      BACK</a>
</span>
<div>
  <div class="feedback" title="Feedback">
  <div class="pulsating-circle" data-target=".feebackModal" data-toggle="modal" id="regDeskvideo"></div>
</div>
<div class="agenda" title="Agenda">
<div class="pulsating-circle" data-target=".agendaModal" data-toggle="modal" id="regDeskvideo"></div>
</div>
<div class="registraion-desk" title="Help Desk" data-toggle="modal" data-target="#helpDeskModal">
  <div class="pulsating-circle" id="regDeskvideo"></div>
</div>

    <img style="height:100vh;width:100vw;"src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Help Desk.jpg" alt="">
    <!-- <div id="heading">
        <div>
          My Appointments
        </div>
      </div>
<div style="overflow-y: scroll; position: relative; height: 550px;">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Scheduled Time</th>
        <th>Join Call</th>
      </tr>
     <tr *ngFor="let item of callList">
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.time}}</td>
    <td> <a href="{{item.channel}}" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-video-camera" style="color:black; font-size: 25px; text-align: center;"></i>
       </a> </td>
     </tr>
     <tr *ngFor="let user of callListattendee">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.time}}</td>
      <td> <a href="{{user.channel}}" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-video-camera" title="Join Call" style="color:black; font-size: 25px; text-align: center;"></i></a>
          <a><i (click)="rejectCall(user.id,user.attendee_id,user.name,user.email,user.time)" class="fa fa-times" title="Reject Scheduled Call" style="cursor: pointer; color:crimson; font-size: 25px;margin-left: 20px;"></i></a>
          <a style="color:black; font-size: 15px;margin-left: 20px;">Reject Call</a> 
          </td>
       </tr>
    </table>
  </div> -->
</div>


<div class="modal fade" id="helpDeskModal" tabindex="-1" role="dialog" aria-labelledby="helpDeskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 15px 25px 5px 50px;">
          <h4 class="text-white"><img src="assets/chat-h.png" width="12%" alt=""> Live Support Chat</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size: 34px;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div id="teamText">
              <p>You are chatting with Support Team</p>
          </div>
          <div id="helpDeskMsg" #scroller [scrollTop]="scroller.scrollHeight" style="height: 400px;overflow: auto;">
              <ul id="desklist">
                <ng-container *ngFor="let msg of deskMessages; let i =index">                    
                  <li *ngIf="(msg.answer=='')||(msg.question != '')">
                    <div id="desklist_message">
                      <div style="border-radius: 50%; background:#005f85; border: 2px solid; width: 50px; height:50px;"></div>
                        <div id="desklist_text">
                          <!-- <span>{{user_name}}</span> -->
                          <span>You</span>
                          <p>{{msg.question}}</p>
                        </div>
                    </div>
                  </li>
                  <li *ngIf="(msg.question=='')||(msg.answer!='')">
                    <div id="desklist_message">
                        <img src="assets/Attendees.png" width="50" height="50" style="border-radius: 50%; border: 2px solid;" alt="">
                        <div id="desklist_text">
                          <span>Support Team</span>
                            <p>{{msg.answer}}</p>
                        </div>
                    </div>
                  </li>
                </ng-container>                    
              </ul>
          </div>
          <div id="inputTextMessage">
            <input type="text" id="inputText" [formControl]="message" (keyup.enter)="postHelpdesk(message.value)">
            <div id="sendMsg">
              <button id="btn" (click)="postHelpdesk(message.value)">SEND</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>