table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #heading{
    position: absolute;
    top: 30px;
    left: 50%;
    width: 100%;
    /* text-align: center; */
    transform: translate(-6%);
    div{
      color: white;
      font-size: 24px;
    }
  }
  #back{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }
  .registraion-desk{
    .pulsating-circle{
        position: absolute;
        top: 70%;
    left: 38%;
        cursor: pointer;
    }
  }
  .feedback{
    .pulsating-circle{
        position: absolute;
        top: 53%;
    left: 12%;
        cursor: pointer;
    }
  }
  .agenda{
    .pulsating-circle{
        position: absolute;
        top: 51%;
    right: 12%;
        cursor: pointer;
    }
  }
  .modal-body{
    color:#005f85;
    padding: 25px 50px;
    #teamText{
        text-align: center;
        p{
            border-bottom: 2px solid#005f85;
            padding-bottom: 5px;
        }
    }
    #helpDeskMsg{
        #desklist{
            padding: 0;
            list-style-type: none;
            li{
                list-style-type: none;
                #desklist_message{
                    position: relative;
                    border-bottom: 2px solid;
                    padding: 5px 0 10px 0;
                    margin: 5px 0;
                    #desklist_text{
                        position: absolute;
                        top: 0;
                        left: 75px;
                    }
                }
            }
        }
    }
}

#inputTextMessage{
    margin-top: 36px;
    width: 100%;
    #inputText{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid #005f85;
        width: 75%;
        outline: none;
        color:#005f85;
    }
    #sendMsg{
        float: right;
        #btn{
            color: white;
            background:#005f85;
            outline: none;
            border: 0;
            border-radius: 5px;
        }
    }
}