
<span id="skip" *ngIf="videoPlay2">
  <a class="nav-link sign" (click)="skipButton()" title="SKIP" role="button">
      SKIP</a>
</span>
<div class="container-fluid" [ngStyle]="{'display':videoPlay2? 'none': 'block'}">
  
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
        <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Log-In-Page.jpg" class="login-img" alt="login image">
        <div class="login-section-wrapper">
          <!-- <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div> -->
          <!-- <div class="brand-wrapper">
            <img src="assets/logo.png" alt="logo">
          </div> -->
          <div class="login-wrapper">
            <!-- <h1 class="login-title">Sign In</h1> -->
            <!-- <img class="pb-4 pt-5 mt-5" src="assets/logo.png" alt="logo" width="100%"> -->
            
            <form *ngIf="isFoo" [formGroup]="profileForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
              <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div>
              <div class="form-group">
                <!-- <h2 class="text-white">Sign In</h2> -->
                <div class="input-field">
                  <!-- <h4>Name</h4> -->
                  <div style="color: red;" *ngIf="(profileForm.get('name').invalid && formDir.submitted) || (profileForm.get('name').dirty && profileForm.get('name').invalid)">
                    Name is required*   
                   </div>
                   <input type="text" class="form-control" required autocomplete="off" formControlName="name"  placeholder="Name">
                
                    <!-- <h4>Email</h4> -->
                    <div style="color: red;" *ngIf="(profileForm.get('email').invalid && formDir.submitted) || (profileForm.get('email').dirty && profileForm.get('email').invalid)">
                        Email is required*   
                    </div>
                <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder="email@example.com">
                <div style="color: red;" *ngIf="(profileForm.get('city').invalid && formDir.submitted) || (profileForm.get('city').dirty && profileForm.get('city').invalid)">
                    city is required*   
                   </div>
                   <input type="text" class="form-control" required autocomplete="off" formControlName="city" placeholder="City">
                   <div style="color: red;" *ngIf="(profileForm.get('department').invalid && formDir.submitted) || (profileForm.get('department').dirty && profileForm.get('department').invalid)">
                    Department is required*   
                    </div>
                    <input type="text" class="form-control" required autocomplete="off" formControlName="department" placeholder="Department">
                <!-- <h4>Password</h4>
                <input type="password" class="form-control" required autocomplete="off" formControlName="pwd" placeholder="Password"> -->
                
                </div>
              </div>
              <!-- <h4 class="text-center" style="font-weight: bolder;">Login will be live at 9AM</h4> -->
              <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
              <!-- <p style="  cursor: pointer;  font-size: 10px;
                text-align: left;
                color: white;
                font-weight: 700;
                margin: 0 !important;" (click)="changeReset()">Forgot Password?</p> -->
            </form>
            
            <div *ngIf="checkmail">
              <h5 class="text-white text-danger"><b>PLEASE CHECK YOUR MAIL</b></h5>
            </div>
            <div *ngIf="spin" class="text-center">
              <img class="w-25" src="assets/loader.gif" alt="">
              </div>
            <!-- <p class="login-wrapper-footer-text">you don't have an account? <a routerLink="/signup" class="text-reset">Register</a></p>
          </div>
           <div class="brand-wrapper text-center">
            <img src="assets/lilly/images/logo_1.png"  alt="logo">
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
  </div>
  <div [ngStyle]="{'display':videoPlay2? 'block': 'none'}" class="videoContainer">
     <video playsinline style="z-index: 0;" id="loginVideo"  preload="auto" class="videoBg" (ended)="endVideo()">
            <source src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/outer.mp4" type="video/mp4">
          </video>
  </div>
  <div>
    <!-- <div id="potrait" *ngIf="videoPlay2 && potrait">
      <img src="../../assets/rotate.gif" alt="">
      <p>Switch to Landscape view</p>
    </div> -->
  </div>
  