section{
    position: relative;
    .content-wrap {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: a50o;
      position: relative;
      .lobby-bg{
        position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 100vw;
            height: 110vh;  
          }
      }
      #diabetesVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        left: 42%;
        height: 19vh;
        width: 6vw;
        .pulsating-circle{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
      #cardiologyVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        left: 42%;
        height: 19vh;
        width: 6vw;
        .pulsating-circle{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
      #hypertensionVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        right: 24%;
        height: 19vh;
        width: 6vw;
        .pulsating-circle{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
      #venousDiseaseVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        right: 33.3%;
        height: 19vh;
        width: 6vw;
        .pulsating-circle{
            position: absolute;
            top: 40%;
            left: 50%;
        }
    }
    } 
  }

