<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="lobby-bg">
            <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/photo contest.jpg" alt="audi">
        </div>
        <!-- <div style="position: absolute;  top: 22%; left: 42%;">
            
          </div>
        <div id="diabetesVideo" data-toggle="modal" data-target=".docsModal">
            <div class="pulsating-circle"></div>
        </div>
       
        <div id="hypertensionVideo" data-toggle="modal" data-target=".docsModal">
            <div class="pulsating-circle"></div>
        </div> -->
        
    </div>
</section>