<!-- <div class="bg"></div> -->
<section class="sectionBgnew">
  <div class="content-wrap">
    <!-- <div class="lobby-bg">
      <img src="../../../assets/serdia_myanmar/images/lobby.jpg" alt="audi">
    </div>

    <div class="playScreen">
      <img src="../../../assets/serdia_myanmar/images/playScreen.jpg" alt="">
    </div> -->
    <div class="videoContainer">
      <video playsinline id="animationVideo" preload="auto" autoplay class="videoBg" (ended)="OnEndVideo()">
          <source src="https://d3ep09c8x21fmh.cloudfront.net/thales/centre.mp4" type="video/mp4">
      </video>
  </div>
  </div>
</section>
<audio id="myAudio" preload="auto" autoplay (ended)="naviTolob()">
  <source src="../assets/img/Lobby/welcome.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<a (click)="playAudio()" type="button"></a>