.bg {
  // background-image: url(../../../assets/serdia_myanmar/images/lobby.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // background-color: #464646;

  width: 100%;
  height: 100vh;
  // position: relative;
}
section{
  position: relative;
  .content-wrap {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: auto;
    position: relative;
    .lobby-bg{
      position: relative;
        width: 100%;
        height: 100%;
        display: block;
        img{
          width: 100vw;
          height: 105vh;  
        }
    }
  } 
}
.playScreen{
  position: absolute;
  top: 32%;
  left: 42%;
  img{
      width: 15.3vw;
      height: 14vh;
  }
}