#pointer{
  position: absolute;
  top: 57%;
  left: 48%;
  width: 5%;
  height: 5%;
  cursor: pointer;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
#wholeCam{
  #camImg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  #videobgStream{
      width: 100%;
  }
  
}
#buttons{
  text-align: center;
  justify-content: center;
  width: 100%;
  position: relative;
  img{
      padding: 15px;
      cursor: pointer;
  }
}
.modal-content{
  border: 2px solid #005f85;
  border-radius: 25px;
  .modal-header{
    border-radius: 0;
    margin-top: 32px;
    background: #005f85;
    .close{
      color: white;
      opacity: 1;
      outline: none;
    }
  }
}
#back{
  position: absolute;
  top: 10px;
  left: 50px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0px;
  a{
      text-transform: capitalize;
      color: white;
  }
}