<!-- <div id="demo" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <ng-container *ngFor="let pix of data">
    <div class="carousel-item" [ngClass]="{'active': pix.id === 326}">
      <img src="{{pix.image}}" alt="Los Angeles" width="1100" height="500">
    </div>
    </ng-container>
  </div>
  
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div> -->
<span id="back">
  <a class="nav-link sign" routerLink="/stage" title="Logout" role="button">
    BACK</a>
</span>
<section>
  <div class="loby-bg">
    <!--  <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/photo contest.jpg" width="100%" alt="audi"> -->
    <!-- <video src="https://gskamm2021.virtualxp.live/videos/lobby-video.mp4" width="100%" loop autoplay></video> -->



    <div id="content">
      <div id="content_wrap">
        <div class="fancybox-container fancybox-is-open" role="dialog" tabindex="-1" id="fancybox-container-1"
          style="transition-duration: 366ms;">
          <div class="">
            <div class="fancybox-inner">

              <div class="fancybox-toolbar compensate-for-scrollbar">

              </div>

            </div>
            <div class="fancybox-stage">
              <div class="">
                <style type="text/css" style="display: none;">
                  .document_css {
                    color: black
                  }

                  #signature_text {
                    display: inline-block;
                    width: 100%;
                  }

                  .fancybox-slide--html .fancybox-close-small {
                    color: #fff;
                  }
                </style>
                <div class="document_css sales_info-popup fancybox-content">
                  <div class="popup-container profile-popup signature_board" style="background-image: url(assets/Background.jpg); background-size: cover;
                                ">
                    <div class="popup-header">
                      <!-- <img src="assets/serdia/images/Logo.png" alt="" style="width: 15%; position: absolute; left: 0;"> -->
                      <!-- <h3 style="color:blue">Signature Wall</h3> -->
                    </div>
                    <div class="popup-body">
                      <div class="row">
                        <div class="default_WdL col-md-9 col-lg-9">
                          <div class="bubble_message">
                            <ul id="userChat">
                              <ng-container *ngFor="let chat of messageList; let i = index">

                                <li>
                                  <div class="bubble right backgroundNew">
                                    <p [ngStyle]="{'color': chat.color}">
                                      {{chat.chat_data}} <span> -
                                        {{chat.user_name}}</span></p>

                                  </div>
                                </li>

                              </ng-container>
                            </ul>

                          </div>
                        </div>
                        <div class="default_WdR col-md-3 col-lg-3">
                          <!-- <h3 class="text-blue">Please select ONE pledge from the list below</h3> -->
                          <div class="innerMessageBubble">
                            <div class="messageBoxRt" style="margin-top: 45%;">

                              <!-- <div class="demo"
                                                                        style="background-color:rgb(192, 177, 157); margin-top: 17px;">
                                                                        <button id="one" (click)="onClickMe1()" style="font-family: 'Open Sans'
                                                           , sans-serif; font-weight: 700; font-style: italic;
                                                             background-color: antiquewhite;">I pledge to make Flavedon OD
                                                                            Available 24 x 7 in my territory
                                                                        </button><br><br>
                                                                        <button id="two" (click)="onClickMe2()"
                                                                            style="font-family: 'Open Sans'
                                                         , sans-serif; font-weight: 700; font-style: italic; background-color: antiquewhite;">I pledge to handle all
                                                                            objections confidently 24 x 7
                                                                        </button><br><br>
                                                                        <button id="three" (click)="onClickMe3()"
                                                                            style="font-family: 'Open Sans'
                                                          , sans-serif; font-weight: 700; font-style: italic; background-color: antiquewhite;">I pledge to continuously
                                                                            increase my Rxer base
                                                                        </button><br><br>
                                                                        <button id="four" (click)="onClickMe4()" style="font-family: 'Open Sans'
                                                         , sans-serif; font-weight: 700; font-style: italic;
                                                            background-color: antiquewhite;">I pledge to keep my Flavedon
                                                                            OD 80 mg knowledge up to date
                                                                        </button><br><br>
                                                                        <button id="five" (click)="onClickMe5()"
                                                                            style="font-family: 'Open Sans'
                                                    , sans-serif; font-weight: 700; font-style: italic; background-color: antiquewhite;">I pledge for 12k strips PMPM
                                                                            by Sept for Flavedon OD
                                                                        </button><br><br>
                                                                        <button id="six" (click)="onClickMe6()" style="font-family: 'Open Sans'
                , sans-serif; font-weight: 700; font-style: italic; background-color: antiquewhite;">I pledge to track my Flavedon
                                                                            activity outcomes 24 x 7
                                                                        </button><br><br>
                                                                    </div> -->
                              <!-- <br><br> -->


                              <div class="input-group">
                                <textarea placeholder="Write something here.." class="form-control custom-control"
                                  rows="3" style="resize:none" [formControl]="textMessage">

                                                                </textarea>

                                <span class="input-group-btn" style="padding-left: 10px;">
                                  <input [formControl]="Color" type="color" id="favcolor" name="favcolor"
                                    value="#ff0000"><br />
                                  <button style="margin-top:10px;" type="submit" class="btn btn-primary"
                                    (click)="postMessage(textMessage.value,Color.value)">
                                    <span>Send</span>

                                  </button>
                                </span>

                              </div>

                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                </div>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<div id="player_sec">
  <!--  <vg-player>
        <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
            <vg-play-pause></vg-play-pause>
            <vg-time-display></vg-time-display> -->
  <!-- <vg-playback-button></vg-playback-button> -->
  <!-- <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <vg-buffering></vg-buffering>
        <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videoPlayer" loop="true" autoplay="true"
            vg-responsive="true" type="video/mp4">

        </video> 
    </vg-player>-->
</div>
<!-- <div class="reception" data-toggle="modal" data-target=".pic1">
  <div class="pulsating-circle" id="reception_pulse"></div>
</div>
<div class="key_portfolio" data-toggle="modal" data-target=".pic2">
  <div class="pulsating-circle" id="frontaudi_pulse"></div>
</div> -->
<!-- <ul class="list-inline">
    <ng-container *ngFor="let pix of data">
      <li><a data-slide-to="0"><img class="img-thumbnail" src="{{pix.image}}" data-toggle="modal" data-target=".myModal"
            style="cursor: pointer; height:200px;width:250px; margin:5px 0 5px 0;"></a></li>
    </ng-container>
  </ul> -->

<!--modal body-->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" title="Close">
            <span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="modal-body">

          <div id="myGallery" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <ng-container *ngFor="let pix of data">
              <div class="carousel-item" [ngClass]="{'active': pix.id === 326}">
                <img src="{{pix.image}}" alt="item1" style="height:400px;width:auto;">
              </div>
              </ng-container>
            </div>
            <a class="carousel-control-prev" href="#myModal" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myModal" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>

        </div>
        <div class="modal-footer">
          <div class="pull-left">

          </div>
          <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->
<!-- modal exit -->
<!--   <div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6>GALLERY</h6>
 -->
<!--  <a class="close" (click)="closePopup()"></a> -->
<!--                 </div>
                <div class="container-fluid" style="background: #c5c5c5;">
                  <div class="row">
                    <div id="myGallery" class="carousel slide" data-ride="carousel">
 -->
<!-- The slideshow -->
<!--                       <div class="carousel-inner">
                        <ng-container *ngFor="let pix of data">
                          <div class="carousel-item" [ngClass]="{'active': pix.id === 326}">
                            <img src="{{pix.image}}" alt="Los Angeles">
                          </div>
                        </ng-container>
                      </div>

 -->
<!-- Left and right controls -->
<!--                       <a class="carousel-control-prev" href="#myGallery" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#myGallery" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 -->
<div class="modal fade pic1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>COLABORATIVE</h6>
                <!-- <a class="close" (click)="closePopup()"></a> -->
              </div>
              <div class="container-fluid" style="background: #c5c5c5;">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div class="row">
                      <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                    </div>
                    <!-- <img src="assets/Standee-03.jpg" width="100%" height="540" alt=""> -->
                    <embed src="assets/pdf/ThalesPoster.pdf" frameborder="0" width="100%" height="540">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade pic2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>EXCELLENT</h6>
                <!-- <a class="close" (click)="closePopup()"></a> -->
              </div>
              <div class="container-fluid" style="background: #c5c5c5;">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div class="row">
                      <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                    </div>
                    <!-- <img src="assets/Standee-02.jpg" width="100%" height="540" alt=""> -->
                    <embed src="assets/pdf/ThalesPosterAerospace.pdf" frameborder="0" width="100%" height="540">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>