
.carousel-inner img {
  width: 50%;
  // height: 100%;
  // height: 500px;
}
#popup{
  background-image:url('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Commitment Wall-01.jpg');

  background: #000000c9;
  padding: 5px;
  .chat_section{
    background: #292F35;
    .popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}

#back{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0px;
  a{
      text-transform: capitalize;
      color: white;
  }
}

  #player_sec{
    position: absolute;  
    top: 28.7%;
    left: 30.5%;
    vg-player{     
    width: 39vw;
    height: 28vh;
    }
  }

.loby-bg {
  img{        
  width: 100vw;
  height: 100vh;
  }
}

.reception {
  position: absolute;
  bottom: 50%;
    right: 6.4%;
  cursor: pointer;
  // background: black;
  height: 6vw;
  width: 4vw;       
.pulsating-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
}
.key_portfolio {
  position: absolute;
  top: 40%;
  left: 3.5%;
  cursor: pointer;
  // background: black;
  height: 6vh;
  width: 11vw;          
.pulsating-circle{
  position: absolute;
  top: 55%;
  left: 50%;
}
}


/* signature css */
section{

  position: relative;
  height: 100%;
  width: 100%;
  #clap{
    position: absolute;
    top: 19%; 
    right: 1%;
    z-index: 1000;
    img{
      width: 35px;
    }
  }
  #content{
    position: relative;
    #content_wrap{
      position: relative;
      #bg{
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        img{
          width: 100vw;
          height: 115vh;
        }
      }
     
    }
  }
}
.fancybox-container {
  //position: relative;
  background-image:url('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Commitment Wall-01.jpg');

  right: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  top: 0px;
  z-index: 999;
  // background-color: antiquewhite;
}
.fancybox-bg {
  background: #9e9c9c !important;
}
.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.fancybox-slide--html {
  padding: 0;
}
.fancybox-slide:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.document_css {
  color: black;
}

.document_css {
  overflow-x: hidden;
}
.fancybox-content {

  padding: 0;
}
.document_css .signature_board {

  max-width: 100% !important;
  min-height: 100% !important;
  min-width: 100vw !important;
  width: 100% !important;
}

.document_css .popup-container {
  background-image:url('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Commitment Wall-01.jpg');

  position: static;
  margin: auto;
  width: 100%;
  min-width: 850px;
}
.signature_board {
  width: 7%;
  height: 6.5%;
  position: absolute;
  top: 60.5%;
  right: 21%;
}
.profile-popup {
  background-color: rgb(242, 244, 247);
}
.popup-container {
  background: #fff;
  position: absolute;
  width: 50%;
  height: 100%;
  max-width: 850px;
  min-height: 300px;
}
.signature_board .popup-header {
  background: #9e9c9c;
  text-align: center;
 

  /* display: block; */
  // justify-content: left;
  padding: 14px 12px;
}

.signature_board .popup-header {
  background: #9e9c9c;
}
.popup-header {
  height: 40px;
  background: var(--theme-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
sales_info-popup .signature_board .popup-body {
  height: 94vh;
}

.sales_info-popup .popup-body {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  overflow: auto;
  justify-content: center;
}

.popup-body {
  padding: 10px;
}
.popup-body {
  padding: 24px;
  color: black;

}
.sales_info-popup .popup-body .row {
  width: 100%;
}

.fancybox-container * {
  box-sizing: border-box;

}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}
.bubble_message {
  width: 100%;
  float: left;
  min-height: 86vh;
  overflow-y: auto;
  border-right: 2px #dddddd solid;
}

.fancybox-container * {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}
.popup-body {
  padding: 24px;
  color: black;
  background-image:url('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Commitment Wall-01.jpg');
   height:100vh;
   width:100vw;
}
.bubble_message ul {
  margin: 0px;
  padding: 0px;
}

.fancybox-container * {
  box-sizing: border-box;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.bubble_message ul li {
  display: block;
  /* width: 50%; */
  /* display: inline-block; */
  float: left;
}
.bubble.right {
  margin: 6px 23px 33px 7px;
  width: 88%;
  padding: 3px 13px;
  min-height: 36px;
}

.bubble.right {
  float: left;
  margin: 6px 49px 83px 7px;
  width: 78%;
  padding: 4px 13px;
  /* min-height: 73px; */
}.bubble.right {
  margin: 6px 23px 33px 7px;
  width: 88%;
  padding: 3px 13px;
  min-height: 36px;
}

.bubble.right {
  float: left;
  margin: 6px 49px 83px 7px;
  width: 78%;
  padding: 4px 13px;
  /* min-height: 73px; */
}

.bubble {
  font-size: 16px;
  line-height: 20px;
  padding: 3px 11px;
}
.bubble {
  display: inline-block;
  position: relative;
  padding: 0px 4px;
  border-radius: 10px;
  border: 3px solid black;
  background: white;
  font-family: "Permanent Marker";
  clear: both;
  width: auto;
  font-size: 21px;
}


.bubble.right:before {
  border-radius: 0 0 100%;
  box-shadow: -2px -2px 0 0 #000 inset, -23px 0 0 0 #fff inset, -25px -2px 0 0 #000 inset;
  left: 0;
}

// @media screen and (max-width: 900px), screen and (max-height: 500px)
.bubble:before {
  bottom: -19px;
  height: 16px;
  width: 59px;
}
.bubble:before {
  content: '';
  position: absolute;
  bottom: -50px;
  height: 50px;
  width: 90px;
}
.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.compensate-for-scrollbar {
  margin-right: 8px;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}
.fancybox-button[disabled], .fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: #ccc;
}

.fancybox-button {
  background: rgba(30,30,30,.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}
.fancybox-container * {
  box-sizing: border-box;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-container * {
  box-sizing: border-box;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.profile-popup .popup-header h3 {
  font-size: 12px;
}

.profile-popup .popup-header h3 {
  font-size: 16px;
}
.popup-header h3 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  font-family: var(--head-font);
}
.document_css .signature_board {
  max-width: 100% !important;
  min-height: 100% !important;
  min-width: 100vw !important;
  width: 100% !important;
}

.document_css .popup-container {
  position: static;
  margin: auto;
  width: 100%;
  min-width: 850px;
}
.signature_board {
  width: 7%;
  height: 6.5%;
  position: absolute;
  top: 60.5%;
  right: 21%;
}
.profile-popup {
  background-color: rgb(242, 244, 247);
}
.popup-container {
  background: #fff;
  position: absolute;
  width: 50%;
  height: 100%;
  max-width: 850px;
  min-height: 300px;
}
.popup-body {
  height: 94vh;
}

.sales_info-popup .popup-body {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: auto;
  justify-content: center;
}
// @media screen and (max-width: 900px), screen and (max-height: 500px)
.popup-body {
  padding: 10px;
}
.popup-body {
  padding: 24px;
  color: black;
}
.sales_info-popup .popup-body .row {
  width: 100%;
}
.bubble_message {
  width: 100%;
  float: left;
  min-height: 86vh;
  overflow-y: auto;
  border-right: 2px #dddddd solid;
}

.fancybox-container * {
  box-sizing: border-box;
}
.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

// background-color: antiquewhite;


// .fancybox-container[_ngcontent-ofm-c1] *[_ngcontent-ofm-c1] {
//     box-sizing: border-box;
//  background-color: antiquewhite;
// }
.form-control{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
} 
.custom-control{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
.demo {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

#one{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
#two{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
#three{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
#four{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
#five{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
#six{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
.backgroundNew{
  background: linear-gradient(to top, #ffffff 0%, #c0b19d 100%);
}


//   .popup-container {
//       background-image: assets/ipf/images/Bkgd-Texture.jpg");
//   }

//  .popup-header {

//     background-image: url(assets/ipf/images/Logo.png);
// }
p{
  font-family: 'Open Sans', sans-serif; font-weight: 700; font-style: italic;
}