<div class="container-fluid" id="popup">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="chat_section">
                <div class="popup_header">
                    <h6 style="text-transform: uppercase;">Leaderboard</h6>
                    <a class="close" (click)="closePopup()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                    <div class="row pt-2">
                        <div class="col-md-12 col-xl-12 pl-0">
                            <div class="chat_box">
                                <ul class="chat_message">
                                    <!-- <ng-container *ngFor="let list of documentsList"> -->
                                    <!-- <li class="chat_messageList">
                                            <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>
                                            <p>
                                                <span class="person">
                                                    <a href="javascript:void(0);" class="checkProfile">{{list.total_points}}</a>
                                                </span>
                                            </p>
                                        </li> -->
                                    <!-- <div class="row" >
                                        <div class="col-6 text-center">
                                            <h2>MODULE</h2>
                                        </div>
                                        <div class="col-6 text-center">
                                            <h2>POINTS</h2>
                                        </div>
                                    </div> -->
                                    <table>
                                        <tr>
                                          <th>Module</th>
                                          <th>Points</th>
                                        </tr>
                                        <tr  *ngFor="let list of documentsList">
                                          <td>{{list.module}}</td>
                                          <td>{{list.points}}</td>
                                        </tr>
                                        <tr>
                                            <td><h4><b>Total Points</b> </h4></td>
                                            <td><h4><b>{{this.total}}</b></h4></td>
                                        </tr>
                                      </table>
                                    <!-- <div class="row" *ngFor="let list of documentsList">
                                        <div class="col-6 text-center">
                                            <h3>{{list.module}}</h3>
                                        </div>
                                        <div class="col-6 text-center">
                                            <h3>{{list.points}}</h3>
                                        </div>
                                    </div> -->
                                    <!-- <div class="row">
                                        <div class="col-12 text-center">
                                        <h3>Total Points - {{this.total}}</h3>
                                    </div>
                                </div> -->
                                    <!-- </ng-container> -->

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>