<!-- <div class="bg"></div> -->
<span id="back">
  <a class="nav-link sign" routerLink="/lobby" title="Back" role="button">
    BACK</a>
</span>
<!-- <iframe style="width:100%; height: 100vh;" muted src="https://lagged.com/api/play2/superbike-hero2/"></iframe> -->

<section class="sectionBgnew">
  <div class="content-wrap">
    <div class="lobby-bg">
      <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Key Portfolio.jpg" alt="audi">
    </div>
    <div style="position: absolute;  top: 22%; left: 42%;" *ngIf="liveMsg">
      <div class="alert alert-success " role="alert">
        The session is Live now, please join us at the auditorium.
      </div>
    </div>
    <div id="diabetesVideo" data-toggle="modal" data-target=".a1">
      <div class="pulsating-circle"></div>
    </div>
    <div id="diabetesVideo1" data-toggle="modal" data-target=".a2">
      <div class="pulsating-circle"></div>
    </div>

    <div id="hypertensionVideo" data-toggle="modal" data-target=".a3">
      <div class="pulsating-circle"></div>
    </div>

  </div>
</section>


<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
      <div class="modal-body p-0">
        <div id="modal-video">
          <div id="closePopup" (click)="closePopup()">&times;</div>
          <video id="video" preload="auto" muted autoplay src="{{player}}" width="100%" controls>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Document Modal -->
<div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Resources</h6>
                <a class="close" (click)="closePopupdocs()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message">
                        <li class="chat_messageList" *ngFor="let docs of document">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a href="{{docs.url}}" target="_blank" class="checkProfile"> {{docs.title}}</a>
                            </span>

                          </p>

                          <div class="img_avatar_R"> <a href="{{docs.url}}" target="_blank" class="checkProfile">
                              <h4>view</h4>
                            </a></div>
                          <p>
                          </li>
                        <hr>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade a1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Creative</h6>
                <a class="close" (click)="closePopupdocs()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/c.jpg" alt="" style="width: 100%;">
                    <div class="d1" (click)="playDiabetesVideo('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Diamicron MR New Video.mp4')">
                      <div class="pulsating-circle"></div>
                    </div>
                    <div class="d2" (click)="playDiabetesVideo('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Hypertension Portfolio content (Video).mp4')">
                      <div class="pulsating-circle"></div>
                    </div>
                    <div class="d3" (click)="playDiabetesVideo('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/MOA Triveram.mp4')">
                      <div class="pulsating-circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade a2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Creative</h6>
                <a class="close" (click)="closePopupdocs()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/a.jpg" alt="" style="width: 100%;">
                    <div class="c1" (click)="playCardiologyVideo('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/21VA0823ZA_Video teaser Vastarel MR.mp4')">
                      <div class="pulsating-circle"></div>
                    </div>
                    <div class="c2" (click)="playCardiologyVideo('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Coralan Video.mp4')">
                      <div class="pulsating-circle"></div>
                    </div>
                    <div class="c3" (click)="pdf('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/COVCADposter.pdf')">
                      <div class="pulsating-circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade a3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Creative</h6>
                <a class="close" (click)="closePopupdocs()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/b.jpg" alt="" style="width: 100%;">
                    <div class="b1" (click)="playHypertensionVideo('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Video Daflon.mp4')">
                      <div class="pulsating-circle"></div>
                    </div>
                    <div class="b2" (click)="playHypertensionVideo('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Video Bioflor.mp4')">
                      <div class="pulsating-circle"></div>
                    </div>
                    <div class="b3" (click)="playHypertensionVideo('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Video Valdoxan.mp4')">
                      <div class="pulsating-circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade a4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">PDF</h6>
                <a class="close" (click)="closePopupdocs()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <iframe [src]="pdfs" frameborder="0" width="100%"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade a5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">PDF</h6>
                <a class="close" (click)="closeaf()"></a>
              </div>
              <!-- <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <iframe [src]="pdfs" frameborder="0" width="100%"></iframe>
                  </div>
                </div>
              </div> -->
              <div class="container-fluid" style="background: #c5c5c5;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div class="row">
                      <!-- <div class="col-12">
                        <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                      </div> -->
                    </div>
                    <embed src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/COVCADposter.pdf" frameborder="0" width="100%" height="540">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>