<span id="back">
    <a class="nav-link sign" routerLink="/networkingLounge" title="Back" role="button">
        BACK</a>
</span>

<section>
    <div class="content-wrap">
        <div id="bg">
            <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/photo contest.jpg" alt="">
            <!-- <a id="pointer_1" data-toggle="modal" data-target="#bubbleShoot">
                <div class="pulsating-circle"></div>
            </a> -->
            <a id="pointer_2" routerLink="/photocontest">
                <div class="pulsating-circle"></div>
            </a>
        </div>
    </div>
</section>

<div class="modal fade" id="bubbleShoot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Bubble Shooter</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                        </div>
                                        <iframe
                                            src="https://previews.customer.envatousercontent.com/files/266349013/index.html"
                                            width="100%" height="615" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bikeRacing" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Photo Contest</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                        </div>
                                        <img style="width:100%" src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/photocontest-02.jpg"
                                            height="550" frameborder='0'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>