section{
    position: relative;
    width: 100%;
    height: 100%;
    .content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        #bg{
            img{
                width: 100%;
                height: 100vh;
            }
        }
    }
}

#pointer_1{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 50%;
    left: 19%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_2{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 50%;
    right: 48%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  #back{
    position: absolute;
    top: 10px;
    left: 50px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }

