<span id="back">
    <a class="nav-link sign" routerLink="/networkingLounge" title="Back" role="button">
        BACK</a>
</span>

<section>
    <div [routerLink]="['/resource']" class="networking-lounge" title="networking lounge" > 
        <div class="pulsating-circle" id="networking_pulse"></div>
    </div>
    <div class="video" title="video" (click)="playVideo('https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Commitment_Video.mp4')"> 
        <div class="pulsating-circle"></div>
    </div>
     <img src="https://d3ep09c8x21fmh.cloudfront.net/servier_myanmar/Commitment Wall.jpg" style="height:100vh;width:100vw;">
    <div id="content">
        <div id="content_wrap">
            <div class="fancybox-container fancybox-is-open" role="dialog" tabindex="-1" id="fancybox-container-1"
                style="transition-duration: 366ms;">
                <div class="">
                    <div class="fancybox-inner">

                        <div class="fancybox-toolbar compensate-for-scrollbar">

                        </div>

                    </div>
                    <div class="fancybox-stage">
                        <div class="">
                            <style type="text/css" style="display: none;">
                                .document_css {
                                    color: black
                                }

                                #signature_text {
                                    display: inline-block;
                                    width: 100%;
                                }

                                .fancybox-slide--html .fancybox-close-small {
                                    color: #fff;
                                }
                            </style>
                            <div class="document_css sales_info-popup fancybox-content">
                                <div class="popup-container profile-popup signature_board" style="background-image: url(assets/Background.jpg); background-size: cover;
                  ">
                                    <div class="popup-header">
                                        <img src="assets/serdia/images/Logo.png" alt=""
                                            style="width: 15%; position: absolute; left: 0;">
                                        <h3>Signature Wall</h3>
                                    </div>
                                    <div class="popup-body">
                                        <div class="row">
                                            <div class="default_WdL col-md-9 col-lg-9">
                                                <div class="bubble_message">
                                                    <ul id="userChat">
                                                        <ng-container *ngFor="let chat of messageList; let i = index">

                                                            <li>
                                                                <div class="bubble right backgroundNew">
                                                                    <p [ngStyle]="{'color': chat.color}">
                                                                        {{chat.chat_data}} <span> -
                                                                            {{chat.user_name}}</span></p>

                                                                </div>
                                                            </li>

                                                        </ng-container>
                                                    </ul>

                                                </div>
                                            </div>
                                            <div class="default_WdR col-md-3 col-lg-3"> 
                                                 <h3 class="text-white">Please select ONE pledge from the list below</h3> 
                                                 <div class="innerMessageBubble">
                                                    <div class="messageBoxRt" style="margin-top: 2%;"> 

                                                        <!-- <div class="demo"
                                                          style="background-color:rgb(192, 177, 157); margin-top: 17px;">
                                                          <button id="one" (click)="onClickMe1()" style="font-family: 'Open Sans'
                                             , sans-serif; font-weight: 700; font-style: italic;
                                               background-color: antiquewhite;">I pledge to make Flavedon OD
                                                              Available 24 x 7 in my territory
                                                          </button><br><br>
                                                          <button id="two" (click)="onClickMe2()"
                                                              style="font-family: 'Open Sans'
                                           , sans-serif; font-weight: 700; font-style: italic; background-color: antiquewhite;">I pledge to handle all
                                                              objections confidently 24 x 7
                                                          </button><br><br>
                                                          <button id="three" (click)="onClickMe3()"
                                                              style="font-family: 'Open Sans'
                                            , sans-serif; font-weight: 700; font-style: italic; background-color: antiquewhite;">I pledge to continuously
                                                              increase my Rxer base
                                                          </button><br><br>
                                                          <button id="four" (click)="onClickMe4()" style="font-family: 'Open Sans'
                                           , sans-serif; font-weight: 700; font-style: italic;
                                              background-color: antiquewhite;">I pledge to keep my Flavedon
                                                              OD 80 mg knowledge up to date
                                                          </button><br><br>
                                                          <button id="five" (click)="onClickMe5()"
                                                              style="font-family: 'Open Sans'
                                      , sans-serif; font-weight: 700; font-style: italic; background-color: antiquewhite;">I pledge for 12k strips PMPM
                                                              by Sept for Flavedon OD
                                                          </button><br><br>
                                                          <button id="six" (click)="onClickMe6()" style="font-family: 'Open Sans'
  , sans-serif; font-weight: 700; font-style: italic; background-color: antiquewhite;">I pledge to track my Flavedon
                                                              activity outcomes 24 x 7
                                                          </button><br><br>
                                                      </div> -->
                                                        <!-- <br><br> -->


                                                         <div class="input-group">
                                                            <textarea placeholder="Write something here.." class="form-control custom-control" rows="3"
                                                                style="resize:none" [formControl]="textMessage"
                                                                >

                                                  </textarea>

                                                            <span class="input-group-btn" style="padding-left: 10px;">
                                                                <input [formControl]="Color" type="color" id="favcolor" name="favcolor" value="#ff0000" ><br />
                                                                <button style="margin-top:10px;" type="submit" class="btn btn-primary"
                                                                    (click)="postMessage(textMessage.value,Color.value)">
                                                                    <span>Send</span>

                                                                </button>
                                                            </span>
                                                            
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> 

</section>

<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div> -->
        <div class="modal-body p-0">
          <div id="modal-video">
            <div id="closePopup" (click)="closePopup()">&times;</div>
            <video id="video" preload="auto" muted autoplay src="{{player}}" width="100%" controls>
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>